* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", "Josefin Sans", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9f9f9;
}

/* หัวเว็บ */

header {
  position: relative;
  padding: 0 2rem;
  background-color: rgb(255, 200, 255);
}

/* หน้าเว็บ */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* โลโก้ */

.logo-text {
  margin-bottom: 3rem;
}

.logo-text .logo-text-a {
  font-size: 50px;
  color: rgb(255, 200, 255);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

/* โลโก้ ขนาดมือถือ */

@media(max-width: 800px) {
  .logo-text .logo-text-a {
    font-size: 40px;
  }
}

/* ช่องค้นหา */ 

.search-bar {
  position: relative;
  width: 800px;
  max-width: 90%;
  z-index: 1;
}

.search-bar input {
  width: 100%;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 3px 6px rgba(255, 150, 200, 0.4);
}

.search-bar input::placeholder {
  color: rgb(100, 100, 100);
  opacity: 1;
}


.search-bar i {
  background-color: rgb(255, 150, 255);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: rgb(100, 100, 100);
  cursor: pointer;
}

